@charset "utf-8";

/* findIdPwd.css */

/************** findIdPwdBox **************/

#findIdPwdBox {
	width: 100%;
}

/************** findIdPwdFormBox **************/

#findIdPwdFormBox {
    width: 480px;
    height: 733px;
    padding: 50px;
    text-align: left;
    background-color: white;
	border: 3px dashed #70cacd;
	border-radius: 50px;
    box-shadow: 10px 10px 15px #cccccc;
    margin: 60px auto 50px auto;
}

#findIdPwdLogo {
	position: relative;
	display: inline-block;
	width: 150px;
	margin: 0 165px;
	height: 200px;
}

#findIdPwdLogo img {
	display: block;
	height: 150px;
	margin: 25px 0;
}

#findIdPwdInfo {
	width: 100%;
}

#findIdPwdInfo h1 {
	font-size: 24px;
	width: 45%;
	display: inline-block;
	margin: 0 0 30px 0;
	text-align: center;
	cursor: pointer;
}

#findPwdOpen {
	float: right;
}

#findIdPwdInfo p {
	font-size: 15px;
	padding: 0 0 0 5px;
}

/************** findIdForm & findPwdForm **************/

#findIdForm, #findPwdForm {
	position: relative;
	padding-top: 45px;
}

#findIdForm  p, #findPwdForm p {
	font-size: 14px;
	padding: 0 0 0 5px;
}

.inputArea {
    width: 100%;
}

.input {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 10px 0 20px 0;
	padding: 0 15px;
	background-color: #f9fafb;
	border: 3px solid #70cacd;
	border-radius: 15px;
	font-size: 15px;
}

.input:placeholder-shown {
	background-color: #f9fafb;
	border-color: #70cacd;
}

.input:focus {
	animation-name: border-focus;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	background-color: white;
	border-color: #627db2;
	outline: none;
}

.input:not(:focus) {
	animation-name: border-notFocus;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes border-focus {
	from {
		border-radius:15px;
	}
	to {
		border-radius: 30px;
	}
}

@keyframes border-notFocus {
	from {
		border-radius:30px;
	} to {
		border-radius: 15px;
	}
}

.input:not(:placeholder-shown) {
	border-color: #627db2;
}


#memEmail, #authKeyCheck, #memEmail2, #authKeyCheck2 {
	width: 63%;
}

#memEmail, #memEmail2 {
	margin: 10px 0 3.5px 0;
}

#authKeyCheck, #authKeyCheck2 {
	margin: 3.5px 0 15px 0;
}

.btn {
	width: 100%;
	height: 43px;
	background: #70cacd;
	border: 3px solid #007f86;
	border-radius: 15px;
	box-shadow: 0px 5px 0px 0px #007f86;
	font-size: 16px;
	font-weight: bold;
	font-family: Noto Sans KR;
	color: white;
	cursor: pointer;
	transition: all 0.05s;
}

#idMailAuthBtn:active, #pwdMailAuthBtn:active {
	margin-top: 15px;
	box-shadow: 0px 0px 0px 0px #007f86;
}

#authKeyBtn:active, #authKeyBtn2:active {
	margin-top: 8.5px;
	box-shadow: 0px 0px 0px 0px #007f86;
}

#idMailAuthBtn, #pwdMailAuthBtn {
	float: right;
	width: 35%;
	margin: 10px 0 3.5px 0;
}

#authKeyBtn, #authKeyBtn2 {
	float: right;
	width: 35%;
	margin: 3.5px 0 15px 0;
}

#findIdBtnBox, #finPwdBtnBox {
	height: 58px;
}

#findIdBtn, #findPwdBtn {
	width: 100%;
	margin: 10px 0 5px 0;
}

#findIdBtn:active, #findPwdBtn:active {
	margin-top: 15px;
	box-shadow: 0px 0px 0px 0px #007f86;
}

.hidden {
	position: relative;
	display: none;
}

.show {
	position: relative;
}

.hiddenBtn {
	animation-name: border-outset;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	border: 3px outset #70cacd;
	border-radius: 15px;
	background: white;
	color: #6b6b6b;
}

.showBtn {
	animation-name: border-inset;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	border: 3px inset #70cacd;
	border-radius: 15px;
	background: #70cacd;
	color: white;
}

@keyframes border-inset {
	from {
		border: 3px outset #70cacd;
		background: white;
		color: #6b6b6b;
	} to {
		border: 3px inset #70cacd;
		background: #70cacd;
		color: white;
	}
}

@keyframes border-outset {
	from {
		border: 3px inset #70cacd;
		background: #70cacd;
		color: white;
	} to {
		border: 3px outset #70cacd;
		background: white;
		color: #6b6b6b;
	}
}