@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

/* paintDiary.css */

/************** paintingWall **************/

.main_image{
    width:48%;
    display:inline-block;
    border:3px solid #70cacd;
}
.main_image img{
    width:100%;
}
.selection_image{
    width:48%;
    display:inline-block;
}

.thumb {
    position:relative; 
    width:25%; 
    height:15%; 
    display:inline-block; 
    margin:2px;
    border:4px solid #eee;
    outline:1px solid #ddd;
    }
.thumb:hover .overlay {
    opacity:0!important;
    cursor:pointer;
}
.overlay {
    position:absolute;
    top:0;left:0;width:100%;height:100%;
    background:#000;opacity:0.4;
}
.selection_image img {
    width:100%;
    height:100%;    
}



#paintingWall {
	width: 100%;
}

#paintingWallInfo {
	width: 100%;
	font-family: 'Gaegu', cursive;
}

#paintingWall h1 {
	padding: 50px 0 50px 0;
	font-weight: 400;
	font-size: 100px;
}

#paintingWall p {
	padding: 0 0 50px 0;
	font-weight: 300;
	font-size: 40px;
}

#paintingBox {
	width: 1000px;
	height: 1000px;
}

.painting {
	display: inline-block;
	width: 50%;
	height: 100px;
	margin: 10px 10px 20px 10px;
}


form {
	background-color: #fff4e9;
	font-family: Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	display: inline-block;
	margin: 20px;
	background-color: #fff;
	border: 2px solid #007f86;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type=file] {
	display: block;
	margin: 20px auto;
}

input[type=submit] {
	background-color: #70cacd;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}

textarea {
	display: block;
	margin: 20px auto;
	width: 80%;
	height: 100px;
	padding: 10px;
	border: 2px solid #f05757;
	border-radius: 20px;
	resize: none;
}

img {
	max-width: 100%;
	border-radius: 20px;
	margin-bottom: 10px;
}