<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlePirates.project.dao.IKcreviewDAO">
	<resultMap id="reviewResult"
		type="com.littlePirates.project.model.KcreviewVO">
		<result property="kcrNo" column="kcrNo" />
		<result property="kcrTitle" column="kcrTitle" />
		<result property="kcrText" column="kcrText" />
		<result property="kcrDate" column="kcrDate" />
		<result property="memId" column="memId" />
	</resultMap>

	<!-- 게시판 전체 보기 -->
	<select id="listAll" resultMap="reviewResult">
		SELECT * 
		FROM kidscafereview
	</select>

	<!-- 글쓰기 -->
	<insert id="write" parameterType="com.littlePirates.project.model.KcreviewVO">
		INSERT INTO kidscafereview(memId,kcrTitle,kcrText,kcrDate)
		VALUES ( #{memId}, #{kcrTitle}, #{kcrText}, #{kcrDate})
	</insert>

	<!--  -->
	<select id="read" parameterType="string" resultType="com.littlePirates.project.model.KcreviewVO">
		SELECT * 
		FROM kidscafereview 
		WHERE kcrNo = #{kcrNo}
	</select>
	
	<!-- 글 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE 
		FROM kidscafereview 
		WHERE kcrNo=#{kcrNo}
	</delete>
	
	<!-- 글 수정 -->
	<update id="update" parameterType="com.littlePirates.project.model.KcreviewVO">
		UPDATE kidscafereview
		SET kcrTitle=#{kcrTitle}, kcrText=#{kcrText}
		WHERE kcrNo=#{kcrNo}
	</update>
	
	<!-- 후기 검색 -->
	<select id="kcSearch" parameterType="string" resultType="com.littlePirates.project.model.KcreviewVO">
		SELECT * 
		FROM kidscafereview 
		WHERE kcrTitle Like CONCAT('%', #{kckeyword},'%')
	</select>
</mapper>
  
