<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlePirates.project.dao.IKidscafeDAO">
	<resultMap id="mapResult"
		type="com.littlePirates.project.model.KidscafeVO">
		<result property="kcNo" column="kcNo" />
		<result property="kcName" column="kcName" />
		<result property="kclat" column="kclat" />
		<result property="kcLng" column="kcLng" />
		<result property="kcAddress" column="kcAddress" />
		<result property="kcphone" column="kcphone" />
	</resultMap>
	<resultMap id="reviewResult"
		type="com.littlePirates.project.model.KcreviewVO">
		<result property="kcrNo" column="kcrNo" />
		<result property="kcrTitle" column="kcrTitle" />
		<result property="kcrText" column="kcrText" />
		<result property="kcrDate" column="kcrDate" />
		<result property="memId" column="memId" />
		<result property="kcNo" column="kcNo" />
	</resultMap>

	<select id="listKidscafeInfo" resultMap="mapResult">
		select *
		FROM kidscafe
	</select>

	<select id="listKidscafeInfopage" parameterType="int" resultMap="mapResult">
		select *
		FROM kidscafe
		where kcNo > (#{pagenum}-1)*10 
		Limit 10;
	</select>
	
	<select id="total_kidscafeinfo" resultType="int">
		select count(*) 
		FROM kidscafe
	</select>

	<!-- 키워드로 주소 찾기 -->
	<select id="searchKidsCafe" parameterType="string"
		resultType="string">
		SELECT kcAddress
		FROM kidscafe
		WHERE kcName=#{keyword}
	</select>

	<!-- 키즈카페 키워드 검색 -->
	<select id="kidscafeSearchkeyword" parameterType="string"
		resultMap="mapResult">
		SELECT *
		FROM kidscafe
		WHERE kcName Like CONCAT ('%',#{kcName},'%')
	</select>

	<!-- 도/시 키워드 검색 -->
	<select id="kidscafeSearchsido" parameterType="string"
		resultMap="mapResult">
		SELECT *
		FROM kidscafe
		where browsers=#{sido};
	</select>

	<select id="kidscafeSearchsidopage" parameterType="hashmap"
		resultMap="mapResult">
		SELECT *
		FROM kidscafe
		where browsers=#{sido}
		Limit #{start_num}, 10;
	</select>
	
	<!-- 시/도 갯수 가져오기 -->
	<select id="total_kidscafeSearchsido" parameterType="string" resultType="int">
		SELECT count(*) 
		FROM kidscafe
		where browsers=#{sido};
	</select>

	<!-- 구/군 키워드 검색 -->
	<select id="kidscafeSearchgu" parameterType="hashmap"
		resultMap="mapResult">
		SELECT *
		FROM kidscafe
		where browsers=#{sido} AND kcAddress Like CONCAT ('%',#{gu},'%')
	</select>
	
	<select id="kidscafeSearchgupage" parameterType="hashmap"
		resultMap="mapResult">
		SELECT *
		FROM kidscafe
		where browsers=#{sido} 
		AND kcAddress Like CONCAT ('%',#{gu},'%') 
		Limit #{start_num}, 10;
	</select>

	<!-- 구/군 갯수 가져오기 -->
	<select id="total_kidscafeSearchgu" parameterType="hashmap" resultType="int">
		SELECT count(*) 
		FROM kidscafe
		where browsers=#{sido} AND kcAddress Like CONCAT ('%',#{gu},'%')
	</select>

	<!-- 게시판 전체 보기 -->
	<select id="listAll" resultMap="reviewResult">
		SELECT * 
		FROM kidscafereview
	</select>

</mapper>
  
