@charset "UTF-8";

/* board.css */

a{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    vertical-align: top;
    outline: none;
}
#mainBox{		/* 각 게시판 메인보드박스*/
	/* display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width:1400px;
	overflow: hidden; */
	display: table;
    table-layout: fixed;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 100px;
}
/* 사이드 메뉴 박스*/

#aside {	
	display: table-cell;
    width: 215px;
}
.as_inner{
	width: 185px;
    background: #ffffff;
}
.as_hgroup{
	width: 185px;
    height: 105px;
    background: #ff4057;
}
.tit{
    font-weight: 700;
    font-size: 24px;
    line-height: 105px;
    color: #ffffff;
    text-align: center;
}
.on{
	width: 100%;
	height: 78px;
    background: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 70px;
    color: #444444;
    text-align: center;
    border-bottom: 3px solid #e6e6e8;
}
#sideSubBox{
	width: 179px;
    height: 243px;
    border-right: solid 3px #e6e6e8;
    border-left: solid 3px #e6e6e8;
}
a:visited {
    text-decoration: none;
    
}
#aside .as_inner .lnb > ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}
/* 사이드박스 끝 */

/* 추천 베스트 게시판 리스트*/
#contents {
    display: table-cell;
    width: auto;
}
.h3group {
    overflow: hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
    background: #ffffff;
}
.h3group .tit {
    float: left;
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #2d2d2d;
}
.h3group .location {
    float: right;
}
.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0 25px 0 0;
    font-size: 14px;
    line-height: 44px;
    color: #777777;
}
.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #2d2d2d;
}
.h4group{
	overflow: hidden;
    padding: 21px 30px 18px;
    display: block;
    border-bottom: none !important;
    margin: auto;
    height: 40px;
    line-height:40px;
    vertical-align: middle;
    text-align: left;
    
}
.h4group .period {
    float: right;
    position: relative;
    top: 15px;
    font-size: 12px;
    color: #777777;

}

.board_rank_wrap { /* 베스트글 박스, 인기글 박스 간격 */
    display: inline-block;
    width: 100%;
}
.board_rank_wrap dl {
    border: solid #e6e6e8;
    border-width: 0 1px 1px;
}
.board_rank_wrap .rbox {
    width: 402px;
    float: left;
    position: relative;
    border-top: 3px solid #ff4057;
    border-bottom: 3px solid #f1f1f2;
    text-align: left;
}
.board_rank_wrap dl dt {
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e8;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: #ff4057;
    
}
.board_rank_wrap dl dd ol li:first-child {
    border-top: none;
}
.board_rank_wrap dl dd ol li {
    position: relative;
    padding: 0 48px 0 37px;
    border-top: 1px solid #e6e6e8;
}
.board_rank_wrap dl dd ol li .rank {
    position: absolute;
    top: 7px;
    left:0;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    list-style:none;
}
li{
	list-style:none;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.board_rank_wrap dl dd ol li .recom {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 0 0 17px;
    font-size: 12px;
    line-height: 19px;
    color: #ff4057;
}
.board_rank_wrap dl dd ol {
    padding: 7px 20px 8px;
}
.board_rank_wrap dl dd ol li .tit {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    font-size: 13px;
    line-height: 39px;
    color: #666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;

#boardWriteBox { /* 글쓰기박스*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: white;
	width: 1500px;
	height: 1200px;
	text-align: left;
}

#sideMenuBox { /* 사이드 메뉴 박스*/
	margin-top: 50px;
	margin-right: 10px;
	width: 100px;
	height: 300px;
	background-color: pink;
}

.board_rank_wrap .cbox {
    width: 402px;
    float: right;
    position: relative;
    border-top: 3px solid #ff4057;
    border-bottom: 3px solid #f1f1f2;
    text-align: left;
}
.board_rank_wrap dl dd ol li .commt {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 0 0 17px;
    font-size: 12px;
    line-height: 19px;
    color: #ff4057;
}
/*추천 베스트 박스 끝*/

/*전체글보기 박스 시작*/
form {
    display: block;
    margin-top: 0em;
}
.conwrap {
	display: block;
    margin: 0 0 -40px; 
    padding: 30px 30px 60px;
    background: #ffffff;
}
div {
    display: block;
}
.h4group .tit {
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d2d2d;
}
h4 {
    display: inline-block;
/*  margin-block-start: 1.33em;*/
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/*전체게시물 보기 리스트 버튼 검색 등*/
#wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1200px;
    padding: 90px 0 0;
}
/* .h4group {
    overflow: hidden;
    margin: -30px -30px 0;
    padding: 21px 30px 18px;
    border-bottom: 1px solid #e6e6e8;
} */
.rtn40.e2 {
    border: 1px solid #e7e7e9;
    background: none;
    color: #333333;
}
.rtn40 {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}
.fl_r {
    float: right !important;
}
/*검색기능 박스*/
.data_srch_wrap {
    display: flex;
    margin: 0 -30px;
    border: solid #e6e6e8;
    border-width: 1px 0;
    background: #ffffff;
}
.bdt_n {
    border-top: none !important;
}
element.style {
    width: 189px;
}
.data_srch_wrap .slt_box select { 
    height: 56px;
    padding: 10px 45px 10px 30px;
    border: none;
    background: #ffffff /* url(../../images/util/slt2.png) */ right center no-repeat;
    font-size: 14px;
    line-height: 36px;
    color: #777777;
}
.data_srch_wrap .ipt_box {
    flex: 1 1 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 80px 0 1px;
}
.data_srch_wrap .ipt_box .ipt {
    height: 56px;
    padding: 10px 0 10px 30px;
    border: none;
    background: #ffffff;
    font-size: 14px;
}
input[type=text]{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    box-sizing: border-box;
    background: #f6f6f9;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.data_srch_wrap .ipt_box .btn {/* 검색돋보기 버튼*/
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 56px;
    background: #ffffff  c:url("/images/검색.png")  center center no-repeat;
    font-size: 14px;
    line-height: 36px;
    color: #777777;
    text-indent: -9999em;
}
input[type=button]{
    border: none;
    background: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
/* 게시판 리스트*/
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}
colgroup {
    display: table-column-group;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tbl_list table tbody tr td.idx {/*공지 아이콘 부분*/
    font-size: 12px;
    line-height: 24px;
    color: #777777;
}
.tbl_list table tbody tr td { /*게시판 제목 박스*/
    padding: 27px 0 26px;
    border-bottom: 1px solid #e6e6e8;
    vertical-align: top;
}
.tbl_list table tbody tr td.obj .tbox {/*게시판 제목*/
    display: -webkit-flex;
    display: flex;
    float: left;
    magin-left : 10px;
}
.tbl_list table tbody tr td.obj .tbox .tit {
    overflow: hidden;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    
}
.tbl_list table tbody tr td.obj .tbox .tit a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2d2d2d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.tbl_list table tbody tr td.obj .util {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
.tbl_list table tbody tr td.obj .util div {
    float: left;
    position: relative;
    margin: 0 0 0 21px;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}
a:link {
    text-decoration: none;
    color: inhe
}
.tbl_list table tbody tr td.obj .tbox .info .comt {/*댓글 개수*/
    margin: 0 10px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ff4057;
}
.tbl_list table tbody tr td.obj .tbox .info > div {
    display: inline-block;
}
.tbl_list table tbody tr td.obj .tbox .info { /*제목 옆에 new best 이미지*/
    margin: 0 0 0 6px;
    white-space: nowrap;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}
.tbl_list table tbody tr td.obj .tbox .info > div:last-child {
    margin: 0 !important;
}
.tbl_list table tbody tr td.obj .tbox .info .new {
    position: relative;
    top: 3px;
    box-sizing: border-box;
    width: 38px;
    height: 18px;
    border: 1px solid #ff4057;
    background: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ff4057;
    text-align: center;
}
.tbl_list table tbody tr td.obj .tbox .info .best {
    position: relative;
    top: 3px;
    box-sizing: border-box;
    width: 38px;
    height: 18px;
    margin: 0 5px 0 0;
    border: 1px solid #ff4057;
    background: #ff4057;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
}
.tbl_list table tbody tr td.obj .tbox .comt {/*댓글수 css*/
    margin: 0 0 0 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ff4057;
    flex: 0 1 auto;
    white-space: noewrap;
    
}
.tbl_list table tbody tr td.obj .tbox .info > div {
    display: inline-block;
}
.tbl_list table tbody tr td.obj .util { /* 조회수 추천수 */
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
.tbl_list table tbody tr td.obj .util div:first-child {
    margin: 0;
}
.tbl_list table tbody tr td.obj .util div {
    float: left;
    position: relative;
    margin: 0 0 0 21px;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}
.tbl_list table tbody tr td.obj .util div .val {
    font-weight: 700;
    color: #ff4057;
}
.tbl_list table tbody tr td.etc { /*오른쪽 작성자 날짜*/
    text-align: right;
    vertical-align: bottom;
}
.tbl_list table tbody tr td {
    padding: 27px 0 26px;
    border-bottom: 1px solid #e6e6e8;
    vertical-align: top;
}
.tbl_list table tbody tr td.etc .nick {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}
.tbl_list table tbody tr td.etc .date {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}
/*게시물 리스트 끝*/
/*페이징*/
.pagination {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 27px;
    margin: 30px 0 0;
    text-align: center;
}
.pagination .paging {
    display: inline-block;
    vertical-align: top;
}
.pagination .paging > a {/*화살표*/
    display: block;
    float: left;
    box-sizing: border-box;
    width: 27px;
    height: 27px;
    margin: 0 0 0 5px;
    border: 1px solid #e6e6e8;
}
.hide {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    border: none;
    background: none;
    position: absolute;
    left: -9999em;
    top: -9999em;
    opacity: 0;
}
.pagination .paging .page {/*숫자*/
    display: block;
    float: left;
    padding: 0 20px;
}
.pagination .paging .page a.on {
    border: 1px solid #838383;
    background: #838383;
    font-weight: 700;
    color: #ffffff;
}
.pagination .paging .page a:first-child {
    margin: 0;
}
.btn_wrap {/*글 작성 버튼*/
    display: inline-block;
    width: 100%;
    text-align: center;
}
.mt30 {
    margin-top: 30px !important;
}
.fl_c {
    display: inline-block;
}
element.style {
    width: 240px;
}
.btn_wrap a:first-child {
    margin: 0;
}
.btn50.c3 {
    border: 1px solid #fd5064;
    background: #fd5064;
    color: #ffffff;
}
.btn_wrap a {
    float: left;
    margin: 0 0 0 20px;
}
.btn50 .write {
    display: inline-block;
    padding: 0 26px 0 0;
    background:/*  url(../../images/common/btn_ico_write.png) */ right center no-repeat;
}
.btn50 {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    border: none;
    border-radius: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

#mainBoardBox{	/* mainBox 안에 표 or 게시물 등을 담는 박스 */
	padding: 30px 30px 60px;
	width:1024px;
	height: 99%;
	margin-left: 0px;
	padding-bottom:12px;
	display: table-cell;
}
.conwrapFleaMarket{
	display: block;
    margin: 0 -30px 50px -30px; 
    padding: 30px 30px 60px;
    background: #ffffff;
}

#boardBox { /* 나눔 장터 게시물 10개박스를 담는 박스?*/
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
	
}

.boardPrdBox { /*나눔 상품 게시물박스 10개*/
	display: inline-block;
	width: 180px;
	height: 300px;
	margin-right: 24px;
	margin-bottom: 20px;
	border: 1px solid rgd(170, 170, 170);
	border-radius: 12px;
	overflow: hidden;
	background-color: gray;
}

.fleaMarketImg { /*나눔장터게시판 사진크기 */
	width: 100%;
	height: 217;
}

.boardTextBox { /*나눔장터 게시판 10개박스 제목 상세정보*/
	display: flex;
	flex-direction: column;
	padding: 8px;
}

#fleaMarketMainBox { /*나눔정터 게시물 메인박스*/
	flex-direction: row;
	justify-content: flex-end;
	align: center;
	width: 1500px;
	height: 1200px;
	background-color: blue;
}

#mainTwoBox { /*나눔장처 게시물 이미지 + 상세정보 박스*/
	display: flex;
	width: 800px;
	height: 500px;
}

#fleaMarketTextImgBox { /*나눔장터 게시물 이미지 박스*/
	display: inline-block;
	width: 400px;
	height: 400px;
	background-color: gray;
	margin-top: 150px;
	margin-right: 150px;
}

#fleaMarketTextTableBox { /*나눔장터 게시물 상세정보 박스*/
	display: inline-block;
	width: 400px;
	height: 400px;
	background-color: gray;
	margin-top: 150px;
	margin-left: 150px;
}

.replyBox{ /*게시물 댓글 박스*/

	width:1500px;
	height:400px;
	background-color: green;
	position: absolute;
	margin-top: 300px;
}

#replyTextBox { /*댓글 작성 박스*/
	display: inline-block;
	width: 800px;
	height: 50px;
	font-size: 20px;
}

#replyButton { /*댓글 버튼*/
	display: inline-block;
	width: 80px;
	height: 50px;
	font-size: 20px;
	margin-top: 10px;
}