@charset "UTF-8";

.container2 {  
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows: 0.3fr  4fr;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"mannerHeader"
    "checklist_nav"
    "layout_bottom";
    
}

.mannerHeader2{
	width:1920px;
	grid-area: mannerHeader; 
	font-size:50px;
	font-family: 'Dongle', sans-serif;
}

.checklist_Section2 {
	width:1920px;
	height:900px;
	position: relative;
	grid-area: checklist_nav; 
	}
	
.checklist_Section_back2{
	width:1920px;
	height:900px;
	position:absolute;
	z-index:0;
}

/* *********************** grid area 설정 끝******************* */	

.createChecklist2{
	background:white;
	float:right;
	cursor:pointer;
}

/* *********************** grid area 설정 끝******************* */	
.mannerList2{
	left:50px;
	top:200px;
	position:absolute;
	width:90%;
	height:400px;
/*	display:flex;
	flex-wrap:wrap;
	justify-content :space-around;
	align-items : center;	*/
}

.mannerList2_image{
	width:150px;
	height:150px;
	cursor:pointer;
}
#modal_btn21{
	position:absolute;
	left:17%;
	top: -5px;

	border-radius:50%;
}
#modal_btn22{
	position:absolute;
    left: 83%;
    top: 90px;

	border-radius:50%;
}
#modal_btn23{
	position:absolute;
	left:16%;
	top: 245px;

	border-radius:50%;
}
#modal_btn24{
	position:absolute;
    left: 78%;
    top: 353px;

	border-radius:50%;
}
/*
.mannerList2_image img{
	width:150px;
	height:150px;
	position:absolute;
}
.mannerList2_image span{
	width:150px;
	height:150px;	
}
*/
