@charset "UTF-8";

.container {  
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows: 0.3fr  4fr ;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"eatHeader"
    "checklist_Section"    
    "layout_bottom";
}

.eatHeader{
	width:1080px;
	height:100px;
	grid-area: eatHeader; 
	font-family: 'Dongle', sans-serif;
	font-size:70px;
	color: white;
    text-shadow: 4px 4px #2d63a7;
}
/*
.checklist_Section {
	width:1920px;
	height:600px;
	position: relative;
	grid-area: checklist_Section;
	display:flex;
	}*/
	
	
.checklist_Section {
  display: grid; 
  width:1920px;
  height:600px;
  grid-template-columns: 1fr 4fr ; 
  grid-template-rows: 5fr 15fr ; 
  gap: 0px 0px; 
  grid-template-areas: 
    "dropdown search "
    "searchResult searchResult "
    ". . "; 
  grid-area: checklist_Section; 
}	

/*********************** grid area 설정 *******************/	

.dropdown {

    width:500px;
    font-family: 'Dongle', sans-serif;
	font-size:35px;
	color: white;
    text-shadow: 4px 4px #2d63a7;
}
.selectBtn{
	top: 120px;
    left: 120px;
    height: 50px;
    width: 150px;
    position: absolute;
    text-align:center;
    margin-left:50px;
    border-radius:15%;
 	background-color:#a8ccff;
	font-size:25px;
	color: white;
    text-shadow: 2px 2px #2d63a7;
}
.search{
	grid-area:search;
	width:1200px;
	height:30px;
	display:flex;

}
.search input{
	width:1000px;
	height:40px;
}
.search button{
	width:100px;
	font-size:35px;
	color: white;
    text-shadow: 4px 4px #2d63a7;
    height:50px;
    background-color:gray;
    margin-left:50px;
    border-style:none;
}
.dropdown_trigger {
    cursor: pointer;
	height:70px;
	width:100px;
	margin-left:25px;
	top:10px;
}

.dropdown_content {
    display: none;
    height:50px;
}
.searchResult{
	width:1800px;
	height:500px;
	grid-area:searchResult;
	font-family: 'Dongle', sans-serif;
	font-size:61px;
	color: white;
    text-shadow: 4px 4px #2d63a7;
}
.searchResult table{
	width:1920px;
	height:900px;
}
.searchResult tr{
	height:60px;
	color:white;
	border:1px solid;
}
.searchResult th{
	color:white;
	border:1px solid;
	height:60px;
}
.searchResult td{
	color:white;
	border:1px solid;
	text-align:center;
	height:60px;
}

/*




.checklist_Section_back{
	width:1920px;
	height:600px;
	position:absolute;
	z-index:0;
}

.map2{
	display:flex;
	flex-wrap:wrap;
	width:1730px;
	height:520px;
	margin:40px 0px 130px 130px;
}


.eat_Image{
	width:345px;
	height:260px;

	margin:0;
}
#MM1{
	background:#fae17f;
}
#MM2{
	background:#fae17f;
}
#MM3{
	background:#fa7f7f;
}
#MM4{
	background:#fae17f;
}
#MM5{
	background:#fae17f;
}
#MM6{
	background:#fa7f7f;
}
#MM7{
	background:#fae17f;	
}
#MM8{
	background:#fae17f;	
}
#MM9{
	background:#fae17f;	
}
#MM10{
	background:#fa7f7f;
}
*/