@charset "UTF-8";

.container {  
	position: relative;
    display: grid;
    left: -600px;
 	grid-template-columns: 1fr;
  	grid-template-rows:0.3fr  4fr ;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"checklistHeader"
    "checklist_nav" ;
}
.checklistHeader{
	position: relative;
	width:1920px;
	grid-area:checklistHeader;
	font-family: 'Dongle', sans-serif;
	font-size: 6em;
    color: #ff9012;
    text-shadow: 4px 4px #2d63a7;
}
.checklist_Section {
	width:1920px;
	height:900px;
	position: relative;
	grid-area: checklist_nav;
	left: -350px;
	}
.checklist_Section img{
	width:1920px;
	height:900px;
	position:absolute;
	z-index:0;
}	
/* *********************** grid area 설정 끝******************* */	

.menu{
	width:100%;
	height:100px;
    display:flex;
    flex-wrap:wrap;
	justify-content :center;
	align-items : center;
	position:absolute;
}
.menu_image{
	width:100%;
	height:900px;
}
.menu:nth-child(1){
	top:100px;
}
/* *********************** 체크리스트 메뉴 박스 끝******************* */	

	.modal_wrap{
        display: none;
        width: 80%;
        height: 1100px;
        position: absolute;
        top:25%;
        left: 85%;
        margin: -250px 0 0 -250px;
        z-index: 101;
    }
    .black_bg{
        display: none;
        position: absolute;
        content: "";
		width:100vw;
		height:100vh;
        box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
        top:-9000px;
        z-index: 100;        
    }
    .modal_close{
        width: 150px;
        height: 30px;
        position: absolute;
        top: -45px;
        right: 0;
        margin-bottom:10px;
    }
    .modal_close> a{
        display: block;
        width: 100%;
        height: 100%;
		font-size:35px;
		text-decoration:none;
		color: white;
		font-family: 'Dongle', sans-serif;  
    }
    
    .modalBtn{
    width:250px;
    height:150px;
	font-size:50px;
	cursor:pointer;
	margin-top:50px;
	margin-left:720px;
	left: 900px;
	position:relative;
	}
	.modalBtn3{
	width:250px;
	height:200px;
	left: 950px;
	font-size:50px;
	cursor:pointer;
	margin-top:140px;
	margin-left:1350px;
	}
	.modalBtn2{
	width:450px;
	height:130px;
	font-size:50px;
	cursor:pointer;
	margin-top:220px;
	margin-left:1450px;
	left: 950px;
	}
    /* ***************	생활 습관 모달	 끝	**************** */
          
    .modal_wrap2{
        display: none;
        width: 80%;
        height: 900px;
        position: absolute;
        top:25%;
        left: 35%;
        margin: -250px 0 0 -250px;
        z-index: 101;
    }
  
    .modal_close2{
        width: 150px;
        height: 30px;
        margin-right: 20px;
    }
    
    .modal_close2> a{
        display: block;
		font-size:30px;
		text-decoration:none;
		color:white;
		font-family: 'Dongle', sans-serif; 
    }
    

    
    /* ***************		체크리스트 달성률 모달 끝		**************** */
    .modal_wrap3{
        display: none;
        width: 80%;
        height: 900px;
        position: absolute;
        top:25%;
        left:  85%;
        margin: -250px 0 0 -250px;
        z-index: 101;

    }
  
    .modal_close3{
        width: 150px;
        height: 30px;
        position: absolute;
        top: -45px;
        right: 0;
        margin-bottom:10px;

    }
    
    .modal_close3> a{
        display: block;
        width: 100%;
        height: 100%;
		font-size:35px;
		text-decoration:none;
		color:white;
		font-family: 'Dongle', sans-serif;        
    }

	/******************** 활동 체크리스트 모달 ************************/
	     
	#chat_iframe{
	width: 2000px;
    height: 1200px;
    position : absolute;
    left:-430px;
    border-style:none;
	}
	.textBox{
/* 	display:none; */
	left: 900px;
	position: absolute;
    margin-top: 70px;
    margin-left: 1000px;
    width: 400px;
    height: 170px;
    font-size: 55px;
	font-family: 'Dongle', sans-serif;
	color: #ff9012;
	text-shadow: 0 0 7px #2d63a7; /*0 0 10px #2d63a7, 0 0 21px #2d63a7;*/
	/* Green glow 0 0 42px #8ed9f6, 0 0 82px #8ed9f6, 0 0 92px #8ed9f6, 0 0 102px #8ed9f6, 0 0 151px #8ed9f6;	
	*/
	}
	
	/* ************** *********************/
	
