@charset "UTF-8";

.container2 {  
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows: 0.3fr  4fr;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"mannerHeader"
    "checklist_nav"
    "layout_bottom";
    
}

.mannerHeader2{
	width:1920px;
	grid-area: mannerHeader; 
	font-size:50px;
	font-family: 'Dongle', sans-serif;
}

.checklist_Section2 {
	width:1920px;
	height:900px;
	position: relative;
	grid-area: checklist_nav; 
	}
	
.checklist_Section_back2{
	width:1920px;
	height:900px;
	position:absolute;
	z-index:0;
}

/* *********************** grid area 설정 끝******************* */	

.createChecklist2{
	background:white;
	float:right;
	cursor:pointer;
}

/* *********************** grid area 설정 끝******************* */	
.mannerList2{
	left:50px;
	top:200px;
	position:absolute;
	display:flex;
	flex-wrap:wrap;
	justify-content :space-around;
	align-items : center;
	width:90%;
	height:400px;
}

.mannerList2_image{
	width:150px;
	height:150px;
	cursor:pointer;
	display:flex;

}
.mannerList2_image:nth-child(1){
	align-self:flex-end;
}
.mannerList2_image:nth-child(2){
	align-self:flex-end;
}
.mannerList2_image:nth-child(3){
	align-self:flex-end;
}
.mannerList2_image:nth-child(4){
	align-self:flex-end;
}

.mannerList2_image img{
	width:150px;
	height:150px;
	position:absolute;
}
.mannerList2_image span{
	width:150px;
	height:150px;
	
}
