@charset "UTF-8";

.container {  
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows: 0.3fr  4fr ;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"eatHeader"
    "checklist_Section"    
    "layout_bottom";
}

.eatHeader{
	width:1920px;
	height:100px;
	grid-area: eatHeader; 
	background:gray;
}
/*
.checklist_Section {
	width:1920px;
	height:600px;
	position: relative;
	grid-area: checklist_Section;
	display:flex;
	}*/
	
	
.checklist_Section {
  display: grid; 
  width:1920px;
  height:600px;
  grid-template-columns: 1fr 4fr ; 
  grid-template-rows: 5fr 15fr ; 
  gap: 0px 0px; 
  grid-template-areas: 
    "dropdown search "
    "searchResult searchResult "
    ". . "; 
  grid-area: checklist_Section; 
}	

/*********************** grid area 설정 *******************/	

.dropdown {

    width:500px;
    color:white;
}

.search{
	grid-area:search;
	width:1200px;
	height:30px;
	display:flex;
}
.search input{
	width:1000px;
}
.search button{
	width:100px;
}
.dropdown_trigger {
    cursor: pointer;
	
}

.dropdown_content {
    display: none;
    height:50px;
}
.searchResult{
	width:1920px;
	height:500px;
	grid-area:searchResult;
}
.searchResult table{
	width:1920px;
	height:900px;
}
.searchResult tr{
	height:100px;
	color:white;
	border:1px solid;
}
.searchResult th{
	color:white;
	border:1px solid;
}
.searchResult td{
	color:white;
	border:1px solid;
}
/*




.checklist_Section_back{
	width:1920px;
	height:600px;
	position:absolute;
	z-index:0;
}

.map2{
	display:flex;
	flex-wrap:wrap;
	width:1730px;
	height:520px;
	margin:40px 0px 130px 130px;
}


.eat_Image{
	width:345px;
	height:260px;

	margin:0;
}
#MM1{
	background:#fae17f;
}
#MM2{
	background:#fae17f;
}
#MM3{
	background:#fa7f7f;
}
#MM4{
	background:#fae17f;
}
#MM5{
	background:#fae17f;
}
#MM6{
	background:#fa7f7f;
}
#MM7{
	background:#fae17f;	
}
#MM8{
	background:#fae17f;	
}
#MM9{
	background:#fae17f;	
}
#MM10{
	background:#fa7f7f;
}
*/