@charset "UTF-8";

.container {  
	/*
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows:  4fr ;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:

    "checklist_nav"
 ;
 */
}

.checked {
	filter: brightness(0);
}

.checklistClean{
	width: 900px;
    margin-left: 500px;
	font-family: 'Dongle', sans-serif;
	font-size: 80px;
    position: absolute;
    z-index: 100;
    top: 120px;
    height: 100px;
    text-align:center;
}

.checklist_Section {
	width:1920px;
	height:1150px;
	position: relative;
	}
	
.checklist_Section_back{
	width:1920px;
	height:1100px;
	position:absolute;
	z-index:0;
}

/* *********************** grid area 설정 ******************* */	

.father{
  position : absolute;
  display:flex;
  flex-wrap:wrap;
  margin-left: 21%;
  width:1200px;
  height: 750px;
  margin-top:300px;
  
}

.child{
  flex-basis: 350px;
  height : 200px;
  margin-left: 20px;
}
.child img{
	position :absolute;
  	width: 380px;
  	height : 200px;
	
}

.textBox{
	width:380px;
	position:relative;
	top:200px;
	font-size:40px;
	font-family: 'Dongle', sans-serif;
}

.childCheckImg{
	width: 240px;
    height: 185px;
	border-radius: 50%;
	display:none;
	position:absolute;
}
#childCheckImg1{
	top:15px;
    left: 65px;
	
}
#childCheckImg2{
	top:15px;
	    left: 450px;
}
#childCheckImg3{
    top: 15px;
    left: 835px;
}
#childCheckImg4{
	top:270px;
	left:65px;
}
#childCheckImg5{
	top:270px;
	left:450px;
}
#childCheckImg6{
	top:270px;
	left:835px;
}
#childCheckImg7{
	top:520px;
	left:65px;
}
#childCheckImg8{
	top:520px;
	left:450px;
}
#childCheckImg9{
	top:520px;
	left:835px;
}
/* ****************** 빙고 완료 갯수 박스******************** */
.completeBox{
	right:4%;
	top:80px;
	position:absolute;
	width:240px;
	height:150px;
}
.completeBox img{
	width:70px;
	height:150px;
	border-radius:50%;
	position:absolute;
	display:none;
}
#bingoComplete2{
	margin-left:70px;
}
#bingoComplete3{
	margin-left:140px;
}
