@charset "UTF-8";

.container2 {  
	display: grid;
 	grid-template-columns: 1fr;
  	grid-template-rows: 0.3fr  4fr;
  	gap: 0px 0px;
  	grid-auto-flow: row;
  	grid-template-areas:
  	"mannerHeader"
    "checklist_nav"
    "layout_bottom";
    hegiht:1200px;
    font-family: 'Dongle', sans-serif;
}

.mannerHeader2{
	color:white;
	width:1920px;
	grid-area: mannerHeader; 
	font-size:55px;
}

.checklist_Section2 {
	width:1920px;
	height:900px;
	position: relative;
	grid-area: checklist_nav; 
	background-color:blanchedalmond;
	}
	
/* .checklist_Section_back2{
	width:1920px;
	height:900px;
	position:absolute;
	z-index:0;
} */

/* *********************** grid area 설정 끝******************* */	


/* *********************** grid area 설정 끝******************* */	

.mannerList2{
	position:absolute;
	width:100%;
	height:1000px;
}

.mannerList2_image{
	width:150px;
	height:150px;
	cursor:pointer;
}
#modal_btn21{
	position:absolute;
	left:17%;
	top: -5px;

	border-radius:50%;
}
#modal_btn22{
	position:absolute;
    left: 83%;
    top: 90px;

	border-radius:50%;
}
#modal_btn23{
	position:absolute;
	left:16%;
	top: 245px;

	border-radius:50%;
}
#modal_btn24{
	position:absolute;
    left: 78%;
    top: 353px;

	border-radius:50%;
}
/* *************************************** */

.selfChecklistHeader{
	width:100%;
    height: 50px;
    font-size: 40px;
}
.selfChecklistHeader li{
	list-style:none;
	display:inline-block;
	float:right;
	margin-right:30px;
}
.Date{
	position: relative;
    font-size: 40px;
    top: -15px;
    text-align: center;
    height: 15px;
}

.selfChecklistContent{
	width:100%;
	height:75%;
	background-color:white;
}
.slideBtn{
	top: 15px;
    position: absolute;
}
#prevBtn{

	left: 740px;
	position: absolute;
}
#nextBtn{

	left: 1080px;
	position: absolute;
}
#prevBtnImg{
	height:50px;
	width:100px;
}
#nextBtnImg{
	height:50px;
	width:100px;
}
.listBox{
    width: 45%;
    height: 90%;
    float: left;
    margin-left: 3%;
	margin-top: 10px;
}
.list{
	border:solid;
	margin-bottom:20px;
	height:95px;
	border-radius:10px;
}
.listBoxHeader{
	margin-bottom:15px;
}
#listIcon{
	position:relative;
	left:20px;
	width:50px;
	height:50px;
    top: 20px;	
}
.listCheckBox{
	position:absolute;
}
.listBox li{
	list-style:none;
}
#spanTag1{
	float:center;
	font-size: 40px;
}
#spanTag2{
	position:relative;
	right:15px;
	float:right;
	font-size: 40px;
}
.photoBox{
	border:solid;
	width:45%;
    height: 90%;
	float:right;
	margin-left:3%;
	margin-right:3%;
	border-radius:10px;
}
.photolistName{
	text-align:center;
	font-size:40px;
}
.photoDate{
	font-size: 20px;
	margin-left:30px;
	position:relative;
	top: -20px;
}
#fileUploadForm{
	text-align:center;
    position: relative;
    top: -45px;
    width: 160px;
    height: 40px;
    margin-right: 0px;
    font-size: 25px;
    float: right;
    background-color: green;
    margin-right: 20px;
}

.listText{
	width:80%;
/* 	height:50%;
    top: -40px;  	textbox 설정 */
    height: 55%;
    top: -45px;
    left: 100px;
    position: relative;
}
.listCheckBox{
/*     top: -30px; textbox 설정 */
    top: -80px;
    right: 15px;
    width: 30px;
    height: 25px;
    float: right;
    position: relative;
}

.button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 15px;
    font-size: 25px;
}

.fileUpload{
	float: right;
    position: relative;
    width: 150px;
    height: 50px;
}

label {
    cursor: pointer;
    font-size: 1em;
}

/* 못생긴 기존 input 숨기기 */
#chooseFile {
    visibility: hidden;
}

.photoContent{
	width:90%;
	margin-left:5%;
	height: 508px;
    border: solid;
	margin-bottom:10px;
}
.photoContentText{
	width: 90%;
    height: 50px;
    border: solid;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 35px;
}

/* *************************************** */
/*
.mannerList2_image img{
	width:150px;
	height:150px;
	position:absolute;
}
.mannerList2_image span{
	width:150px;
	height:150px;	
}
*/
