@charset "UTF-8";
	
/* kcReviewRead */

a{
	text-decoration-line: none;
}

td {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

table {
	margin-left: 550px;
}

#wrap {
	width: 100%;
	height: 100%;
}

.BoardRead {
	margin-top: 60px;
}

h2 {
	font-family: 'Dongle', sans-serif;
	font-size: 90px;
}

.btn{
	font-family: 'Yeon Sung', cursive;
	font-size: 25px;
	padding: 2px 24px 2px 24px;
	margin-left: 15px;
	margin-right: 5px;
	border-radius: 8px;
	border: solid 0.3px black;
	cursor: pointer;
	background-color: rgba(0, 100, 0, 0.3);
}