@charset "UTF-8";

/* kidscafe.css */

#mapArticle {
	width: 100%;
	height: 1000px;
}

#map {
	float: left;
	width: 50%;
	height: 850px;
	border: 2px solid;
}

#selectbox {
	width: 1920px;
	height: 80px;
}

#clickbox {
	position: absolute;
	right: 30px;
	color: #e80911;
	font-weight: bold;
}

#clickbox li {
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
}

#select_map {
	border: 1px solid black;
	border-width: 1px 1px 0 1px;
}

#gather {
	margin: 0 -6px;
	border: 1px solid black;
	border-width: 0 0 1px 0;
}

#clickbox a {
	color: black;
}

#clickbox li a:hover {
	color: #e80911;
}

a {
	text-align: center;
	text-decoration: none;
}

#searchBox {
	width: 950px;
	height: 1000px;
	float: right;
}

.search {
	width: 475px;
	height: 1000px;
	float: right;
	background-color: #FFFFF0;
}

#mapScoreBox {
	width: 475px;
	height: 1000px;
	float: left;
	background-color: red;
}

.search #address {
    width: 150px;
    height: 20px;
    line-height: 20px;
    border: solid 1px #555;
    padding: 5px;
    font-size: 12px;
    box-sizing: content-box;
}

.search #submit {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px;
    border: solid 1px #555;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: content-box;
}

#mapArticle > div > div + div > div > div > div + div + div > div + div + div > div > div {
	border-radius: 10px;
}   
