@charset "UTF-8";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* kidscafe_sec.css */

#selectbox {
	height: 90px;
}

#box {
	position: relative;
	padding-top:80px;
}

#box > div{
	display: inline-block;
}

a{
	text-decoration: none;
	color:black;
}

#ie {
	position: relative;
	background: rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(20px);
}

/* 사이드 메뉴 박스*/

#aside {	
	position: relative;
	display: table-cell;
    width: 180px;    
}
.as_inner{
	width: 160px;
    background: #ffffff;
    vertical-align: top;
    padding-right:20px;
    padding-top:30px;
}
.as_hgroup{
	width: 185px;
    height: 85px;
    background: pink;
}
.tit{
    font-weight: 700;
    font-size: 50px;
    line-height: 95px;
    color: darkslategray;
    text-align: center;
    font-family: 'Dongle', sans-serif;
}
.on{
	width: 100%;
	height: 78px;
    background: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 75px;
    color: #444444;
    text-align: center;
    border-bottom: 3px solid #e6e6e8;
}
#sideSubBox{
	width: 179px;
    height: 160px;
    border-right: solid 3px #e6e6e8;
    border-left: solid 3px #e6e6e8;
}
a:visited {
    text-decoration: none;
    
}
#aside .as_inner .lnb > ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}
/* 사이드박스 끝 */

.dropdown {
	height: 80px;
	font-size: 20px;
	margin: 10px;
	font-weight: bold;
	color: rgb(50, 50, 50);
}

#browsers{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

	margin-top: 10px;
	margin-right:15px;
	box-sizing: border-box;
	-webkit-appearance: none;
		
	background-image:
	linear-gradient(45deg, transparent 50%, gray 50%),
	linear-gradient(135deg, gray 50%, transparent 50%),
	radial-gradient(#ddd 70%, transparent 72%);
	background-position:
	calc(100% - 25px) calc(1em + 2px),
	calc(100% - 18px) calc(1em + 2px),
	calc(100% - .5em) .5em;
	background-size:
	7px 7px,
	7px 7px,
	1.5em 1.5em;
	background-repeat: no-repeat;
}

#gugun{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

	margin-top: 10px;
	box-sizing: border-box;
	-webkit-appearance: none;
		
	background-image:
	linear-gradient(45deg, transparent 50%, gray 50%),
	linear-gradient(135deg, gray 50%, transparent 50%),
	radial-gradient(#ddd 70%, transparent 72%);
	background-position:
	calc(100% - 25px) calc(1em + 2px),
	calc(100% - 18px) calc(1em + 2px),
	calc(100% - .5em) .5em;
	background-size:
	7px 7px,
	7px 7px,
	1.5em 1.5em;
	background-repeat: no-repeat;
}

.table {
	display: inline-block;
	width:1300px;
	border:none;
	/* border-spacing: td간의 간격) */
	border-spacing: 20px;
	font-weight: 300;
	font-weight: bolder;
}

.table tr:first-child {
  border-top: none;
  background: #627db2;
  color: #fff;
}

.table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.table th {
  display: none;
}

.table td {
  display: block;
}

.table td:first-child {
  margin-top: .5em;
}

.table td:last-child {
  margin-bottom: .5em;
}

.table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.table th,
.table td {
  text-align: left;
}

.table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.table tr {
  border-color: #bfbfbf;
}

.table th,
.table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .table td:before {
    display: none;
  }
  .table th,
  .table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .table th:first-child,
  .table td:first-child {
    padding-left: 0;
  }
  .table th:last-child,
  .table td:last-child {
    padding-right: 0;
  }
  .table th,
  .table td {
    padding: 0.7em !important;
  }
}

.scroll_box {
  width: 1350px;
  height: 1200px;
  margin-right:30px;
  background-color: #ffffff99;
  overflow-y: scroll;
}

.scroll_box::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;

}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: pink;
}

.scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
