@charset "UTF-8";

/* kidscafe.css */

section {
	width: 100%;
	height: 950px;
}

#selectbox {
	width: 1920px;
	height: 80px;
}

#clickbox {
	position: absolute;
	right: 30px;
	color: #e80911;
	font-weight: bold;
}

#clickbox li {
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
}

#select_map {
	border: 1px solid black;
	border-width: 1px 1px 0 1px;
}

#gather {
	margin: 0 -6px;
	border: 1px solid black;
	border-width: 0 0 1px 0;
}

#clickbox a {
	color: black;
}

#clickbox li a:hover {
	color: #e80911;
}

a {
	text-align: center;
	text-decoration: none;
}

#searchresult {
	width: 35%;
	height: 800px;
	margin-top:20px;
	display: inline-block;
}

#map {
	width:60%; 
	height:850px;
	float: left;
}


