@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);
/* kidscafe.css */


section {
	width: 100%;
	height: 980px;

}

#selectbox {
	width: 1920px;
	height: 90px;
}

#clickbox {
	position: absolute;
	right: 30px;
	color: #e80911;
	font-weight: bold;
	font-size: 35px;
	font-family: 'Dongle', sans-serif;
}

#clickbox li {
	display: inline-block;
	width: 200px;
	height: 30px;
	text-align: center;
}

#select_map {
	border: 1px solid black;
	border-width: 1px 0 0 1px;
}

#gather {
	margin: 0 -6px;
	border: 1px solid black;
	border-width: 0 0 1px 1px;
	padding-bottom:10px;
}

#clickbox a {
	color: black;
}

#clickbox li a:hover {
	color: #e80911;
}

a {
	text-align: center;
	text-decoration: none;
}

#searchresult {
	width: 35%;
	height: 800px;
	margin-top:15px;
	display: inline-block;
}

#mapwrap {
	width:60%; 
	height:850px;
	float: left;
}
#map {
	width:100%; 
	height:850px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #000;
}

#keyword{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
}

#submit {
  width: 90px;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  padding-top: 4px;
  font-family: 'Dongle', sans-serif;
  border-radius: 7px;
  margin-left: 5px;
}

#submit:hover{
	background-color:pink;
}

.table {
	border:none;
	/* border-spacing: td간의 간격) */
	border-spacing: 5px;
	font-weight: bolder;
	background-color: #FFFBF5;
}

.scroll_box {
  width: 300px;
  height: 150px;
  background-color: #ffffff99;
  overflow-y: scroll;
}

.scroll_box::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;

}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: pink;
}

.scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


#mapArticle > div > div + div > div > div > div + div + div > div + div + div > div > div {
	border-radius: 10px;
}   

