@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);
/* kidscafe.css */


section {
	width: 100%;
	height: 1600px;
}

#box {
	position: relative;
	width: 1450px;
	height: 800px;
	padding-top:100px;
	padding-right:20px;
}

a{
	text-decoration: none;
	color:black;
}

#on > img {
	padding-top:20px;
}

#box > div{
	display: inline-block;
}

#kid {
	width: 1200px;
	padding-left: 40px;	
}

h1 {
	font-size: 70px;
	text-align: left;
	padding-left: 30px;
	font-family: 'Dongle', sans-serif;
}

#searchresult {
	width: 780px;
	height: 600px;
	margin-top:15px;
	margin-right:60px;
	display: inline-block;
}

#showmap {
	position: relative;
}

#mapwrap {
	width:1200px; 
	height:620px;
	padding-top:20px;
}

#map {
	width: 1000px; 
	height:600px;
	border-radius: 15px;
	box-shadow: 5px 3px 3px 3px #000;
}

#keyword{
    background-color: white;
    border: 1px solid purple;
    border-radius: 10px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
}

#submit {
  width: 90px;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  padding-top: 4px;
  font-family: 'Dongle', sans-serif;
  border-radius: 7px;
  margin-left: 5px;
  background-color:#627db2;
  color: #fff4e9;
}

#submit:hover{
	background-color:#f05757;
	color:white;
}

.table {
	border:none;
	/* border-spacing: td간의 간격) */
	border-spacing: 5px;
	font-weight: bolder;
	font-size: 15px;
	background-color: #FFFBF5;
}

.table tr:first-child {
  border-top: none;
  background: #627db2;
  color: #fff;
}

.table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.table th {
  display: none;
}

.table td {
  display: block;
}

.table td:first-child {
  margin-top: .5em;
}

.table td:last-child {
  margin-bottom: .5em;
}

.table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.table th,
.table td {
  text-align: left;
  border-radius: 10px;
}

.table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.table tr {
  border-color: #bfbfbf;
}

.table th,
.table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .table td:before {
    display: none;
  }
  .table th,
  .table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .table th:first-child,
  .table td:first-child {
    padding-left: 0;
  }
  .table th:last-child,
  .table td:last-child {
    padding-right: 0;
  }
  .table th,
  .table td {
    padding: 1em !important;
  }
}

.scroll_box {
  width: 300px;
  height: 150px;
  overflow-y: scroll;
}

.scroll_box::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;

}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #f05757;
}

.scroll_box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


#map > div + div > div > div > div + div + div > div + div + div > div > div {
	border-radius: 10px;
}   

/* 사이드 메뉴 박스*/

#aside {	
	position: relative;
	display: table-cell;
    width: 180px;    
}
.as_inner{
	width: 160px;
    background: #ffffff;
    vertical-align: top;
    margin-right: 30px;
    margin-top: 20px;
}
.as_hgroup{
	width: 185px;
    height: 85px;
    background: #627db2;
}
.tit{
    font-weight: 700;
    font-size: 50px;
    line-height: 95px;
    color: #fff4e9;
    text-align: center;
    font-family: 'Dongle', sans-serif;
}
.on{
	width: 100%;
	height: 78px;
    background: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 75px;
    color: #444444;
    text-align: center;
    border-bottom: 3px solid #e6e6e8;
}
#sideSubBox{
	width: 179px;
    height: 242px;
    border-right: solid 3px #e6e6e8;
    border-left: solid 3px #e6e6e8;
}
a:visited {
    text-decoration: none;
    
}
#aside .as_inner .lnb > ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #444444;
}
/* 사이드박스 끝 */
