@charset "UTF-8";

/* mainIndex.css */

/*------------- Section -------------*/
section {
	width: 80%;
	height: 500px;
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(0px);
}

article {
	width: 500px;
	height: 500px;
	color: black;
}

#article1 {
	background-color: white;
	z-index: 200;
}

#article2 {
	color: white;
}

/************** SlideShowBox **************/
#slideShowBox {
	width: 400px;
	height: 400px;
	/* 	overflow: hidden; 영역 벗어나면 숨김 */
}

#slideShowBox img {
	width: 400px;
	height: 400px;
}

#videoBox {
	width: 1000px;
	height: 500px;
}

.video {
	position: relative;
	display: inline-block;
}

/*------------- Section 끝 -------------*/