@charset "UTF-8";

/* top.css */

/*------------- Header -------------*/

/************** HeaderBox **************/
#headerBox {
	width: 1920px;
	height: 100px;
	filter: blur(1px);
}

/************** TopLogoBox **************/
#topLogoBox {
	float: left;
	width: 90px;
	height: 100px;
}

#topLogoBox a img {
	float: left;
	height: 100px;
}

/************** TopMenuBox **************/
#topMenuBox {
	width: 280px;
	float: right;
	text-align: right;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 15px;
	color: black;
}

/*------------- Header 끝 -------------*/


/*------------- Nav -------------*/

nav {
/* 	z-index: 200; */
}

/************** MainMenuBox **************/
#mainMenuBox {
	background-color: yellow;
	width: 1920px;
	height: 100px;
/* 	z-index: 30; */
}

#kidsMainMenuBox {
	width: 1920px;
	height: 970px;
	font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
/*  	z-index: 200; */
 	padding-top: 30px;
}

.kidsMainMenu {
	width: 480px;
	height: 970px;
	line-height: 970px;
	display: inline-block;
 	position: relative;
}

/* #kidsMainMenu1 a {
	position: relative;
} */

#kidsMainMenu1 a img {
	position: absolute;
	bottom:100px;
	left:65px;
	width: 350px;
  	transform: rotate(25deg);
}

#kidsMainMenu2 a img{
	position: absolute;
	top:100px;
	left:65px;
	width: 350px;
  	transform: rotate(-25deg) scaleX(-1);
}

#kidsMainMenu3 a img {
	position: absolute;
	top:485px;
	left:65px;
	width: 350px;
  	transform: rotate(0deg);
}

#kidsMainMenu4 a img{
	position: absolute;
	top:485px;
	left:65px;
	width: 350px;
  	transform: rotate(-45deg);
}

.kidsMainMenu img {

}

/************** SubMenuBox **************/
#subMenuBox {
	background-color: green;
	width: 1920px;
	height: 100px;
	line-height: 80px;
/* 	z-index: 30; */
}

/*------------- Nav 끝 -------------*/