@charset "UTF-8";

/* top.css */

/*------------- Header -------------*/

/************** HeaderBox **************/
#headerBox {
	width: 1920px;
	height: 100px;
	filter: blur(1px);
}

/************** TopLogoBox **************/
#topLogoBox {
	float: left;
	width: 90px;
	height: 100px;
}

#topLogoBox a img {
	float: left;
	height: 100px;
}

/************** TopMenuBox **************/
#topMenuBox {
	width: 280px;
	float: right;
	text-align: right;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 15px;
	color: black;
}

/*------------- Header 끝 -------------*/

/*------------- Nav -------------*/
nav {
	/* 	z-index: 200; */
	
}

/************** MainMenuBox **************/
#mainMenuBox {
	background-color: yellow;
	width: 1920px;
	height: 100px;
}

#kidsMainMenuBox {
	width: 1920px;
	height: 750px;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
	padding-top: 30px;
}

.kidsMainMenu {
	/* border: 1px solid; */
	width: 480px;
	height: 750px;
	line-height: 750px;
	display: inline-block;
	position: relative;
}

#imageBox1 {
	position: absolute;
	/* background-color: brown; */
	bottom: 150px;
	left: 65px;
	width: 450px;
	height: 340px;
	transform: rotate(25deg);
	filter: brightness(0);
	cursor: pointer;
}

#imageBox1:hover {
	filter: brightness(1);
}
/* .kidsMainMenu a img {
	position: absolute;
	width: 450px;
} */

.nonClickBox1 {
	position: absolute;
	/* background-color: blue; */
	width: 248px;
	height: 86px;
	top: 0;
	right: 0;
	z-index: 10;
}

.nonClickBox2 {
	position: absolute;
	/* background-color: yellow; */
	width: 77px;
	height: 60px;
	top: 85px;
	right: 0;
	z-index: 10;
}

.nonClickBox3 {
	position: absolute;
	/* background-color: green; */
	width: 40px;
	height: 44px;
	top: 145px;
	right: 0;
	z-index: 10;
}

#textBox {
	position: absolute;
	top: 180px;
	left: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	z-index: 50;
}

#kidsMainMenu1 a img {
	top: 0;
	left: 0;
}

#kidsMainMenu2 a img {
	top: 50px;
	left: 65px;
	transform: rotate(-25deg) scaleX(-1);
}


#kidsMainMenu3 a img {
	top: 450px;
	left: 65px;
	transform: rotate(0deg);
}

#kidsMainMenu4 a img {
	top: 200px;
	left: 65px;
	transform: rotate(-45deg);
}

.kidsMainMenu a img {
	width: 450px;
	position: absolute;
 	filter: brightness(0);
	cursor: pointer;
}

.kidsMainMenu a img:hover {
	filter: brightness(1);
}

/************** SubMenuBox **************/
#subMenuBox {
	background-color: green;
	width: 1920px;
	height: 100px;
	line-height: 80px;
	/* 	z-index: 30; */
}

/*------------- Nav 끝 -------------*/