@charset "UTF-8";

/* top.css */

/*------------- Header -------------*/
#headerBox {
	background-color: red;
	width: 1920px;
	height: 100px;
}

/************** TopLogoBox **************/
#topLogoBox {
	float: left;
	width: 90px;
	height: 100px;
}

#topLogoBox a img {
	float: left;
	height: 100px;
}

/************** TopMenuBox **************/
#topMenuBox {
	width: 280px;
	float: right;
	text-align: right;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 15px;
	background-color: blue;
	color: white;
}

/*------------- Header 끝 -------------*/


/*------------- Nav -------------*/

/************** MainMenuBox **************/
#mainMenuBox {
	background-color: yellow;
	width: 1920px;
	height: 100px;
	line-height: 80px;
/* 	z-index: 30; */
}

/************** SubMenuBox **************/
#subMenuBox {
	background-color: green;
	width: 1920px;
	height: 100px;
	line-height: 80px;
/* 	z-index: 30; */
}

/*------------- Nav 끝 -------------*/