@charset "UTF-8";

/* treasureMap.css */

/*------------- treasureMap -------------*/
#treasureMapBox {
	width: 1920px;
	height: 1000px;
	position: relative;
}

#treasureMapBox img {
	position: absolute;
	width: 1920px;
	height: 1000px;
	z-index: -10;
}

/************** imageBox **************/
#imageBox {
	position: absolute;
}

/************** treasure **************/
.treasure {
	display: inline-block;
	position: relative;
	width:800px;
	height:500px;
}

/************** treasure1 **************/
#treasure1 {
	background-color: black;
}

/************** treasure2 **************/
#treasure2 {
	background-color: pink;
}

/************** treasure3 **************/
#treasure3 {
	background-color: blue;		
}

/*------------- treasureMap ë -------------*/