<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.littlePirates.project.dao.IMemberDAO">
  
  	<!-- 회원가입1 -->
  	<insert id="signUpMember1" parameterType="com.littlePirates.project.model.MemberVO">
  		INSERT INTO member(memId, memPwd, memName, memEmail, memMobile, memZipcode, memAddress1, memAddress2)
  		VALUES (#{memId}, #{memPwd}, #{memName}, #{memEmail}, #{memMobile},#{memZipcode}, #{memAddress1}, #{memAddress2})
  	</insert>
  	
  	<!-- 아이디 중복 확인 -->
  	<select id="memIdCheck" parameterType="string" resultType="string">
  		SELECT memId
  		FROM member
  		WHERE memId=#{memId}
  	</select>
  	
  	<!-- 회원가입2 -->
  	<update id="signUpMember2" parameterType="hashmap">
  		UPDATE member
  		SET memParentNo=#{memParentNo}, signUpCheck=1
  		WHERE memId=#{memId}
  	</update>
  	
  	<!-- 회원가입2 창 나가면 DB 삭제 -->
   	<delete id="memberDelete" parameterType="string">
  		DELETE
  		FROM member
  		WHERE signUpCheck=0
  	</delete>
  	
  	<!-- 로그인 확인 -->
  	<select id="loginCheck" parameterType="string" resultType="string">
  		SELECT memPwd
  		FROM member
  		WHERE memId=#{memId}
  	</select>
  	
  	<!-- 아이디 찾기위해 메일 인증 -->
  	<select id="selectMemId" parameterType="hashmap" resultType="string">
  		SELECT memId
  		FROM member
  		WHERE memName=#{memName} AND memEmail=#{memEmail}
  	</select>
  	
  	<!-- 아이디 찾기 -->
  	<select id="findId" parameterType="hashmap" resultType="string">
		SELECT memId
		FROM member 
		WHERE memName=#{memName} AND memEmail=#{memEmail}
	</select>
	
	  	<!-- 비밀번호 변경 전 memId 가져오기 -->
  	<select id="findPwd" parameterType="hashmap" resultType="string">
		SELECT memId
		FROM member
		WHERE memName=#{memName} AND memEmail=#{memEmail}
	</select>
	
  	<!-- 비밀번호 변경하기 -->
  	<update id="changePwd" parameterType="com.littlePirates.project.model.MemberVO">
  		UPDATE member
  		SET memPwd=#{memPwd}
  		WHERE memId=#{memId}
  	</update>
  	
  </mapper>