<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.littlePirates.project.dao.IChildrenDAO">

	<resultMap id="NurResult" type="com.littlePirates.project.model.ChildrenVO">
		<result property="nurRegion" column="nurRegion" />
		<result property="nurName" column="nurName" />
		<result property="nurType" column="nurType" />
		<result property="nurCondition" column="nurCondition" />
		<result property="nurZipcode" column="nurZipcode" />
		<result property="nurAddress" column="nurAddress" />
		<result property="nurTel" column="nurTel" />
		<result property="nurBus" column="nurBus" />
		<result property="nurClass" column="nurClass" />
		<result property="nurNo" column="nurNo" />
	</resultMap>
	
	<select id="NurseryList" resultMap="NurResult">
		SELECT * FROM nurseryInfo
	</select>
	
	<select id="NurseryListPage" parameterType="int" resultMap="NurResult">
		select *
		FROM nurseryInfo
		where nurNo > (#{pagenum}-1)*10 
		Limit 10;
	</select>
	
	<select id="total_nurseryInfo" resultType="int">
		select count(*) 
		FROM nurseryInfo
	</select>
</mapper>