<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.littlePirates.project.dao.IChildrenDAO">

	<resultMap id="KdResult" type="com.littlePirates.project.model.KindergartenVO">
		<result property="kdNo" column="kdNo" />
		<result property="kdRegion" column="kdRegion" />
		<result property="kdName" column="kdName" />
		<result property="kdType" column="kdType" />
		<result property="kdAddress" column="kdAddress" />
		<result property="kdTel" column="kdTel" />
		<result property="kdClass" column="kdClass" />
		<result property="kdMax" column="kdMax" />
		<result property="kdSpecial" column="kdSpecial" />
		<result property="kcLat" column="kcLat" />
		<result property="kcLng" column="kcLng" />
	</resultMap>
	
	<select id="KindergartenList" resultMap="KdResult">
		SELECT * FROM kindergarteninfo
	</select>
	
<!-- 	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM KindergartenInfo
	</select> -->
	
</mapper>