<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.littlePirates.project.dao.IKindergartenDAO">

	<resultMap id="KdResult" type="com.littlePirates.project.model.KindergartenVO">
		<result property="kdNo" column="kdNo" />
		<result property="kdRegion" column="kdRegion" />
		<result property="kdName" column="kdName" />
		<result property="kdType" column="kdType" />
		<result property="kdAddress" column="kdAddress" />
		<result property="kdTel" column="kdTel" />
	</resultMap>
	
	<select id="KindergartenList" resultMap="KdResult">
		SELECT * FROM KindergartenInfo 
	</select>

	<select id="KindergartenListPage" parameterType="int" resultMap="KdResult">
		select *
		FROM KindergartenInfo
		where kdNo > (#{pagenum}-1)*10 
		Limit 10;
	</select>
	
	<select id="total_kindergartenInfo" resultType="int">
		select count(*) 
		FROM KindergartenInfo
	</select>
</mapper>