@charset "UTF-8";

/* bottom.css */

/*------------- Footer -------------*/
footer {
	position: relative;
	width: 100%;
	height: 300px;
	background: rgba(255, 255, 255, 0);
	background-image: url("/images/footer.png");
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 100px;
}

#footerBox {
	width: 65%;
	height: 100%;
}

hr {
	width: 100%;
	border: 1px dashed white;
}

/************** footerNav **************/
#footerNav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 70%;
	height: 174px;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	align-items: center;
	float: left;
	margin-top: 58px;
}

#footerNav p {
	display: grid;
	width: 100%;
	height: 100%;
	cursor: pointer;
	align-items: end;
	justify-content: start;
}

#footerNav a {
	text-decoration-line: none;
}

#footerNav a:link {
	color: white;
}

#footerNav a:visited {
	color: white;
}

#footerNav a:hover {
	color: #70cacd;
}

/************** footerLogoBox **************/
#footerLogoBox {
	display: inline-block;
	width: 30%;
	height: 232px;
}

#footerLogo {
	display: inline-block;
	width: 92%;
	margin-left: 8%;
	height: 232px;
}

#footerLogo img {
	height: 90%;
	padding-left: 25px;
	padding-right: 25px;	
	padding-top: 11px;
	padding-bottom: 11px;	
	float: right;
}

/************** InfoBox **************/
#infoBox {
	display: inline-block;
	width: 100%;
	height: 55px;
	font-size: 15px;
	color: white;
}

#infoBox p {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

#infoBox p:last-child {
	float: right;
	cursor: default;
}

#infoBox p:last-child:hover {
	color: white;
}

#infoBox p:hover {
	color: #70cacd;
}
/*-------------footer 태그-------------*/

/*------------- Footer 끝 -------------*/
