@charset "UTF-8";

/* bottom.css */

/*------------- Footer -------------*/
footer {
	position: relative;
	width: 100%;
	height: 300px;
	background: rgba(255, 255, 255, 0);
	background-image: url("/images/footer.png");
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 100px;
}

#footerBox {
	width: 65%;
	height: 100%;
}

hr {
	width: 100%;
	border: 1px dashed #fff4e9;
}

/************** footerNav **************/
#footerNav {
	display: inline-block;
	width: 50%;
	height: 232px;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	float: left;
	color: #fff4e9;
}

#footerNav p {
	float: left;
	margin-right: 50%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

#footerNav p:first-child {
	padding-top: 10px;
}

#footerNav p:last-child {
	padding-bottom: 10px;
}

#footerNav p:hover {
	color: #70cacd;
}

/************** footerLogo **************/
#footerLogo {
	display: inline-block;
	width: 50%;
	height: 232px;	
}

#footerLogo img {
	height: 90%;
	padding-left: 25px;
	padding-right: 25px;	
	padding-top: 11px;
	padding-bottom: 11px;	
	float: right;
}

/************** InfoBox **************/
#infoBox {
	display: inline-block;
	width: 100%;
	height: 55px;
	font-size: 15px;
	color: #fff4e9;
}

#infoBox p {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

#infoBox p:last-child {
	float: right;
	cursor: default;
}

#infoBox p:last-child:hover {
	color: #fff4e9;
}

#infoBox p:hover {
	color: #70cacd;
}
/*-------------footer 태그-------------*/

/*------------- Footer 끝 -------------*/
