@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/* top.css */

/*------------- Header -------------*/

/************** HeaderBox **************/
header {
	width: 100%;
	height: 120px;
	background: white;
	border-bottom: 3px dashed #627db2;
}

#headerBox {
	width: 70%;
	height: 100%;
}

/************** headerLogo **************/
#headerLogoBox {
	display: inline-block;
	width: 50%;	
	height: 100%;
}

#headerLogo {
	display: inline-block;
	width: 100px;
	float: left;
	margin: 0 0 0 5px;
}

#headerLogo img {
	float: left;
	height: 100px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/************** TopMenuBox **************/
#topMenuBox {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	font-weight: bold;
	font-size: 100%;
	text-align: right
}

#topMenuBox a {
	display: inline-block;
	text-decoration-line : none;
	padding-top: 30px;
	padding-right: 5px;
}

#topMenuBox a:link {
	color: black;
}

#topMenuBox a:visited {
	color: black;
}

#topMenuBox a:hover {
	color: #70cacd;
}

#topMenuBox p {
	display: inline-block;
	text-decoration-line: none;
	padding-top: 10px;
	padding-right: 5px;
	font-family: 'Gamja Flower', cursive;
	font-weight: 400;
	font-size: 180%;
}

/*------------- Header 끝 -------------*/


/*------------- KidsNav -------------*/
#kidsNav {
	width: 100%;
	height: 600px;
	background: #70cacd;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border-bottom: 3px dashed #627db2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/************** KidsMainBox **************/
#kidsMainBox {
	width: 90%;
	height: 600px;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}

.kidsMainMenu {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
}

.none, .img {
	width: 100%;
	display: block;	
}

.kidsMainMenu img {
	filter: brightness(0);
	max-width: 100%;
	max-height: 100%;
	opacity: 0.3;
	cursor: pointer;
}

#none1t {
	height: 50%;
}

#img1 {
	height: 40%;	
}

#none1b {
	height: 10%;
}

#img1 img {
	transform: rotate(-25deg) scaleX(-1);
}

#none2t {
	height: 10%;
}

#img2 {
	height: 40%;	
}

#none2b {
	height: 50%;
}

#img2 img {
	transform: scaleX(-1);
}

#none3t {
	height: 55%;
}

#img3 {
	height: 40%;	
}

#none3b {
	height: 5%;
}

#img3 img {
	transform: rotate(0deg);
}

#none4t {
	height: 10%;
}

#img4 {
	height: 40%;	
}

#none4b {
	height: 50%;
}

#img4 img {
	transform: rotate(25deg);
}

.kidsMainMenu img:hover {
	filter: brightness(1);
	opacity: 1;
}

/*------------- KidsNav 끝 -------------*/


/*------------- ParentsNav -------------*/
#parentsNav {
	width: 100%;
	height: 90px;
	background: #70cacd;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	border-bottom: 3px dashed #627db2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/************** ParentsMainBox **************/
#parentsMainBox {
	width: 70%;
	height: 100%;
	letter-spacing: 0;
	word-spacing: 0;
}

.parentsMainMenu {
	display: block;
	position: relative;
	float: left;
	width: 19%;
	font-weight: 400;
	font-size: 35px;
	font-family: 'Gamja Flower', cursive;
}

.line1 {
	padding-top: 23px;
}

.line2 {
	padding-top: 7.5px;
}

#parentsMainBox a, #parentsMainBox a:link, #parentsMainBox a:visited {	
	text-decoration: none;
	color: white;
}

#parentsMainBox p {
	font-size: 25px;
}

#parentsMainBox a:hover {
	color: #627db2;
}

/*------------- ParentsNav 끝 -------------*/