<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.littlePirates.project.dao.IBoardDAO">
	<resultMap id="boardResult"
		type="com.littlePirates.project.model.BoardVO">
		<result property="brdNo" column="brdNo" />
		<result property="memId" column="memId" />
		<result property="brdTitle" column="brdTitle" />
		<result property="brdText" column="brdText" />
		<result property="brdViewCount" column="brdViewCount" />
		<result property="brdResCount" column="brdResCount" />
		<result property="brdDate" column="brdDate" />
	</resultMap>
	
	<select id="listAllBoard" resultMap="boardResult">
		SELECT * FROM board ORDER BY brdNo
	</select>


</mapper>