<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.littlePirates.project.dao.IBoardDAO">
	<resultMap id="boardResult" type="com.littlePirates.project.model.BoardVO">
		<result property="brdNo" column="brdNo" />
		<result property="memId" column="memId" />
		<result property="brdTitle" column="brdTitle" />
		<result property="brdText" column="brdText" />
		<result property="brdViewCount" column="brdViewCount" />
		<result property="brdResCount" column="brdResCount" />
		<result property="brdDate" column="brdDate" />
	</resultMap>
	
	<select id="listAllBoard" resultMap="boardResult">
		SELECT * FROM board 
		ORDER BY brdNo DESC
	</select>

  	<insert id="insertBoardText" parameterType="com.littlePirates.project.model.BoardVO">
  		INSERT INTO board(memId, brdTitle, brdText, brdViewCount, brdResCount, brdRecommendCount)
  		VALUES (#{memId}, #{brdTitle}, #{brdText}, 0, 0 ,0)
  	</insert>
  	
  	<select id="boardView" parameterType="string" resultMap="boardResult">
  		SELECT *
        FROM board
  		WHERE memId=#{memId} AND brdNo = (SELECT max(brdNo) FROM board)
  		<!-- ORDER BY brdNo DESC -->
  	</select>
  	
  	 <!-- 상품 상세 조회 : 상품 번호(prdNo) 전달 받아서 상품 정보(ProductVO) 반환-->
	<select id="boardText" parameterType="int" 
  		resultType="com.littlePirates.project.model.BoardVO">
  		SELECT * FROM board WHERE brdNo = #{brdNo}
 	</select>
  	
</mapper>

