@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400&display=swap');

/* paintDiaryWrite.css */

/************** paintingWall **************/


#writeBox {
	width: 90%;
	background: white;
}

.wrap{
    width:750px;
    margin: 0 auto;
}

.sm-paper{
    --line-length:4;
    box-sizing: content-box;
    border:2px solid #70cacd;
    display: flex;
    padding:0.2em 0;
    flex-direction: row;
    flex-wrap: wrap;
    width:calc( var(--line-length) * 1.5em );
    font-family: cursive ;
    /* font-size: 116px; */
    font-size: calc(700px / var(--line-length) / 1.5);
}
.sm-paper[data-line-length="1"]{ --line-length:1; }
.sm-paper[data-line-length="2"]{ --line-length:2; }
.sm-paper[data-line-length="3"]{ --line-length:3; }
.sm-paper[data-line-length="4"]{ --line-length:4; }
.sm-paper[data-line-length="5"]{ --line-length:5; }
.sm-paper[data-line-length="6"]{ --line-length:6; }
.sm-paper[data-line-length="7"]{ --line-length:7; }
.sm-paper[data-line-length="8"]{ --line-length:8; }
.sm-paper[data-line-length="9"]{ --line-length:9; }
.sm-paper[data-line-length="10"]{ --line-length:10; }
.sm-paper[data-line-length="11"]{ --line-length:11; }
.sm-paper[data-line-length="12"]{ --line-length:12; }
.sm-paper[data-line-length="13"]{ --line-length:13; }
.sm-paper[data-line-length="14"]{ --line-length:14; }
.sm-paper[data-line-length="15"]{ --line-length:15; }
.sm-paper[data-line-length="16"]{ --line-length:16; }
.sm-paper[data-line-length="17"]{ --line-length:17; }
.sm-paper[data-line-length="18"]{ --line-length:18; }
.sm-paper[data-line-length="19"]{ --line-length:19; }
.sm-paper[data-line-length="20"]{ --line-length:20; }

.sm-paper > span{
    box-sizing: border-box;
    flex: 1 0 auto;
    vertical-align: middle;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:1.5em;
    height:1.5em;
    border:1px solid #70cacd;
    border-left-width: 0px;
    margin:0.2em 0;
    /* margin-left: -1px; */
}
.sm-paper[data-line-length="1"] > span:nth-child(1n),
.sm-paper[data-line-length="2"] > span:nth-child(2n),
.sm-paper[data-line-length="3"] > span:nth-child(3n),
.sm-paper[data-line-length="4"] > span:nth-child(4n),
.sm-paper[data-line-length="5"] > span:nth-child(5n),
.sm-paper[data-line-length="6"] > span:nth-child(6n),
.sm-paper[data-line-length="7"] > span:nth-child(7n),
.sm-paper[data-line-length="8"] > span:nth-child(8n),
.sm-paper[data-line-length="9"] > span:nth-child(9n),
.sm-paper[data-line-length="10"] > span:nth-child(10n),
.sm-paper[data-line-length="11"] > span:nth-child(11n),
.sm-paper[data-line-length="12"] > span:nth-child(12n),
.sm-paper[data-line-length="13"] > span:nth-child(13n),
.sm-paper[data-line-length="14"] > span:nth-child(14n),
.sm-paper[data-line-length="15"] > span:nth-child(15n),
.sm-paper[data-line-length="16"] > span:nth-child(16n),
.sm-paper[data-line-length="17"] > span:nth-child(17n),
.sm-paper[data-line-length="18"] > span:nth-child(18n),
.sm-paper[data-line-length="19"] > span:nth-child(19n),
.sm-paper[data-line-length="20"] > span:nth-child(20n)        
{
    border-right-width: 0px;
}

form {
	background-color: #fff4e9;
	font-family: Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
	display: inline-block;
	margin: 20px;
	background-color: #fff;
	border: 2px solid #007f86;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type=file] {
	display: block;
	margin: 20px auto;
}

input[type=submit] {
	background-color: #70cacd;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 20px;
	cursor: pointer;
}

textarea {
	display: block;
	margin: 20px auto;
	width: 80%;
	height: 100px;
	padding: 10px;
	border: 2px solid #f05757;
	border-radius: 20px;
	resize: none;
}

img {
	max-width: 100%;
	border-radius: 20px;
	margin-bottom: 10px;
}