@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/* paintDiary.css */

#paintingWall {
	width: 100%;
	height: 1500px;
}

/************** PaintingWallInfo **************/
#paintingWallInfo {
	width: 100%;
	font-family: 'Gamja Flower', cursive;
}

#paintingWallInfo h1 {
	padding: 50px 0;
	font-weight: 400;
	font-size: 100px;
}

#paintingWallInfo p {
	padding: 0 0 50px 0;
	font-weight: 300;
	font-size: 40px;
	color: #627db2;
}

/************** Gallery **************/
.main_image {
	width: 48%;
	display: inline-block;
	border: 3px solid #eee;
}

.main_image img {
	width: 100%;
}

.selection_image {
	width: 48%;
	display: inline-block;
}

.thumb {
	position: relative;
	width: 25%;
	height: 15%;
	display: inline-block;
	margin: 2px;
	border: 4px solid #eee;
	outline: 1px solid #ddd;
}

.thumb:hover .overlay {
	opacity: 0 !important;
	cursor: pointer;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
}

.selection_image img {
	width: 100%;
	height: 100%;
}